.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  background-color: yellow;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.usernameInput {
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.inputButton {
  flex: 0 0 auto;
  border-radius: 4px;
  width: 40px;
}

.inputContainer {
  display: flex;
  max-height: 30px;
  transform: translateY(-50%);
  justify-content: center;
}